

##    **TEAM ID : PNT2022TMID14243**

##   **NAME : D.SUPRATHIKA **

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(7**4)

2401

In [ ]:
#using Inbuilt function
import math
print(int(math.pow(7,4)))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"
print(s.split())

['Hi', 'there', 'Sam!']

In [1]:
s = "Hi I am MrD!"
print(s.split())

['Hi', 'I', 'am', 'MrD!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

List is mutable whereas tuple is immutable

Lists are better for insertion and deletion operations compared to tuples

Lists have several built-in methods where tuple where Tuples have comparatively lesser built-in methods.

List is declared by using [] or list() where Tuple is declared by using () or tuple().

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
d="user@domain.com"
def fun(d):
  l=d.split("@")
  return l[1]
print(fun(d))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def res(sentence,word):
  if word in sentence:
      return True
  else:
     return False
s="My Dog is my world"
word = "Dog"
if(res(s,word)):
  print("True")
else:
  print("False")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def res(str, word):
    a = str.split(" ")
    count = 0
    for i in a:
        if (word == i):
           count+= 1           
    return count      

str ="My dog is my world, i love my dog, dog is the world for me, my dog is not a animal its my friend,"
word ="dog"
print(res(str, word))

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print(caught_speeding(20,False))

No Ticket

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print(caught_speeding(90,True))

Big Ticket

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print(caught_speeding(70,False))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employee =[25000,15000,13000,17000,30000]
total=0
for i in employee:
  total+=i
print("The Total Salary Expenditure",total)

The Total Salary Expenditure 100000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [2]:
d1 = {'Empid':321, 'Empname': 'MrD', 'Basicpay': 25000}
d2 = {'DeptName': 'Information Technology','DeptId': 231}
d3 = {**d1,**d2}
print(d3)

{'Empid': 321, 'Empname': 'MrD', 'Basicpay': 25000, 'DeptName': 'Information Technology', 'DeptId': 231}